.product{
    height:508px;
    width: 300px;
    grid-gap:45px;
    border: 1px solid #95a0A7;
    border-radius: 8px;
    padding-left:10px;
    box-shadow: 2px 2px 10px 2px;
 
    
    
}
.product-container img{
    height:286px;
    width: 286px;
    border-radius: 8px;
    margin-top:7px;
 
}